.progress-bar-container {
  width: 80%;
  max-width: 600px;
  height: 20px;
  background-color: #ebf1e6;
  border-radius: 10px;
  overflow: hidden; /* Hide any overflow from the progress bar */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid #d1dfd6;
}

.progress-bar {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.5s;
  position: absolute;
  left: 0;
}
