.progress-bar {
  position: relative;
  width: 50%; /* Adjust the width to make it shorter */
  height: 20px;
  background-color: #ddd;
  margin: 0 auto; /* Center align the progress bar */
  margin-bottom: 20px; /* Added margin-bottom to create space */
}

.progress {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.5s;
}

.lion-icon-progress {
  position: absolute;
  top: -15px; /* Adjust this value to position the lion icon vertically */
  width: 50px;
  height: 50px;
  transition: left 0.5s; /* Match the transition duration with the progress bar */
}
