body {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensure no scroll bars are shown */
}

.home-page {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #5aa8a0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #3d8572;
}

.clouds {
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px; /* Limit the height to keep clouds at the top */
  z-index: 1;
  display: flex;
  justify-content: space-between; /* Distribute clouds evenly */
}

.cloud {
  width: 150px; /* Adjust the size as needed */
  height: auto;
}

.cloud1 {
  top: 50px;
  left: 20px;
  width: 200px;
}

.cloud2 {
  top: 100px;
  right: 10px;
  width: 100px;
}

.cloud3 {
  bottom: 50px;
  left: calc(50% - 75px);
  width: 200px;
}

.cloud4 {
  top: 200px;
  left: 460px;
  width: 100px;
}

.sun-animation {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.birds-animation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.land {
  position: relative;
  width: 100%;
  height: 60%; /* Make the land section higher */
  display: flex;
  justify-content: space-around;
  align-items: flex-end; /* Align items to the bottom */
  z-index: 2;
}
.item {
  text-align: center;
  width: 300px;
  transition: transform 0.2s, filter 0.2s; /* Add transition to filter and transform */
  cursor: pointer;
  position: relative;
  margin-bottom: 50px;
}

.item img {
  max-width: 100%; /* Ensure images are responsive */
}

.island {
  position: absolute;
  left: 10%;
  bottom: 20%; /* Make the island higher */
  transform: scale(1.1);
}

.mountain {
  position: absolute;
  bottom: 20%; /* Make the mountain higher */
  left: 50%;
  transform: translateX(-50%);
}

.park {
  position: absolute;
  right: 10%;
  bottom: 20%; /* Make the park higher */
  transform: scale(1.1);
}

.title {
  position: absolute;
  width: 100%;
  top: -50px; /* Adjust this value to position the title above the image */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem; /* Increase the font size */
  font-weight: bold;
  color: #333; /* Adjust font color if needed */
  text-align: center;
}

.welcome-message {
  position: absolute;
  bottom: 0; /* Position the welcome message near the bottom */
  right: 15%; /* Align it to the right */
  display: flex;
  flex-direction: column; /* Stack the bubble above the tiger */
  align-items: center; /* Center align the items */
}

.tiger-animation {
  width: 200px; /* Adjust size as needed */
  height: 200px;
}

.message-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show-message 1s forwards;
  animation-delay: 1s; /* Ensure message shows immediately after page load */
  font-size: 1.8rem;
  margin-bottom: 20px;
  margin-right: 150px; /* Move the bubble slightly to the left */
}

.bubble-image {
  width: 250px; /* Adjust size as needed */
  height: auto;
}

.message-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem; /* Adjust font size as needed */
  color: #333;
}

@keyframes show-message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.island-title {
  position: absolute;
  top: -280px;
  width: 100%;
  bottom: 100%; /* Position title above the image */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem; /* Increase the font size */
  font-weight: bold;
  color: #333; /* Adjust font color if needed */
  text-align: center;
  margin-bottom: 10px; /* Add space between the title and image */
}