/* src/user/pages/ChooseAvatar.css */
body {
    margin: 0;
    padding: 0;
    background-color: #def6ff;
    font-family: Arial, sans-serif;
}

.choose-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.animal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    height: 300px;
}

.animal-wrapper {
    width: 100px;
    height: 100px;
    transition: transform 0.5s, box-shadow 0.5s, opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

.animal {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.animal-wrapper.visible {
    transform: scale(1.5);
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}

.animal-wrapper.hidden {
    transform: scale(1);
    opacity: 0.5;
}

.button-container {
    margin-top: 20px;
}

.button-container .submit-button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.button-container .submit-button:hover {
    background-color: #ebebeb;
    transform: scale(1.1);
}

.nav-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.nav-button:hover {
    background-color: #ebebeb;
    transform: scale(1.1);
}

.submitted-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.animal.large {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(181, 255, 147, 0.893);
    transition: transform 1s;
}

@media (min-width: 768px) {
    .animal-wrapper {
        width: 150px;
        height: 150px;
    }

    .animal-wrapper.visible {
        transform: scale(1.5);
        box-shadow: 0 0 20px rgba(62, 128, 150, 0.999);
    }

    .nav-button {
        width: 60px;
        height: 60px;
        font-size: 28px;
    }
}
